@model MovieFormModel

<div class="row">
    <div class="offset-md-2 col-md-8 col-sm-12">
        <h2>@ViewBag.Title</h2>
        <form method="post">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" placeholder="Marvel,Spider-Man,etc..">
                <span asp-validation-for="Title" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year"></label>
                <input asp-for="Year" class="form-control" placeholder="@DateTime.UtcNow.Year">
                <span asp-validation-for="Year" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre"></label>
                <input asp-for="Genre" class="form-control" placeholder="Horror,Action,Comedy,etc..">
                <span asp-validation-for="Genre" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Directors"></label>
                <input asp-for="Directors" class="form-control" placeholder="Kenneth Lonergan,Barry Jenkins,etc..">
                <span asp-validation-for="Directors" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Writers"></label>
                <input asp-for="Writers" class="form-control" placeholder="William Goldman,Aaron Sorkin,etc..">
                <span asp-validation-for="Writers" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stars"></label>
                <input asp-for="Stars" class="form-control" placeholder="Tom Hanks,Brad Pitt,etc..">
                <span asp-validation-for="Stars" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" rows="3" class="form-control" placeholder="Peter Parker Spider-Man. Bitten by a radioactive spider,etc.."></textarea>
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl"></label>
                <input asp-for="ImageUrl" class="form-control" placeholder="Your fine URL hire">
                <span asp-validation-for="ImageUrl" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId"></label>
                <select asp-for="CategoryId" class="form-control">
                    @foreach (var category in Model.Categories)
                    {
                    <option value="@category.Id">@category.Name</option>
                    }
                </select>
            </div>


            <input class="btn btn-primary mt-4" type="submit" value="Save" />
        </form>
    </div> 
 </div>